body { margin: 0; padding: 0; }

#topo {width: 100%; 
     height: 27px;
     background-color: #333333;
    margin: 190px auto 0px;}
#topo ul { padding:auto; margin:left; list-style:none; }
#topo ul li { display: inline; }
#topo ul li a {padding: 2px 10px; display: inline-block;
    /* visual do link */

    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;}

#topo ul li :hover{background-color: #a7a8a2; border-bottom:3px solid #a7a8a2;}

#formulario-cadastro{
    padding: 10px;
}

body {
    background-color: #11a6d4;
}

.input-div {
    margin: 20px;
    padding: 5px;
    background-color: #f2f5f7;
    border-radius: 5px;
}

.input-div input {
    width: 300px;
    height: 35px;
    padding-left: 5px;
    font: normal 13px sans-serif;
    color: #727070;
    border-radius: 5px;
    border: 1px solid #bec4c6;
    outline: none;
}

.input-div:hover {
    background-color: #e0f1fc;
}

.input-div:hover input{
    border-color: #7dc6dd;
}

#botoes{
    width: 310px;
    margin-left: 25px;
}

#botao{
    float: right;
    padding: 5px 15px;
    background-color: #11a6d448;
    font: bold 12px sans-serif;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border: 1px solid #9eb9c3;
    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;

}

#checkbox{
    font: normal 12px sans-serif;
}

#btn-checkbox:hover{
    cursor: pointer;
    background-color: black;
}

#nome{
    /* padding: 20px; */
}

#botao:hover{
    background-color: #7dc7dda8;
    cursor: pointer;
}

#login-box {
    background-color: #1992b7;
    width: 380px;
    height: 260px;
    margin: 190px auto 0px;
    border-radius: 5px;
}

#login-box-adm {
    background-color: #1992b7;
    width: 380px;
    height: 330px;
    margin: 190px auto 0px;
    border-radius: 5px;
}

#login-box-interno {
    width: 360px;
    height: 240px;
    background-color: #fdfdfd;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

#login-box-interno-adm {
    width: 360px;
    height: 310px;
    background-color: #fdfdfd;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

#login-box-label {
    background-color: rgba(243, 235, 235, 0.815);
    height: 45px;
    text-align: center;
    font: bold 14px/45px sans-serif;
    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 0px 3px #dedede;
    color: #555555;
    text-shadow: 1px 0px 1px white;
}