body {
    background-color: #11a6d4;
    /* display: inline-flex; */
    /* position: fixed; */
}

/* MENU */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* float: right; */
    position: relative;
    overflow: hidden;
    transition: 0.7s all;
}

li a::before {
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 3px solid #fff;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
}

li a:hover {
    background-color: #2ecc7067;
}

li a:hover::before {
    right: 0;
}

.active {
    background-color: #2ecc71;
}

i {
    margin: 15px 0px;
    color: white;
}

/* FIM DO MENU */

/* TABELA */

table {
    max-width: 100%;
    background-color: #ebe9e9;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
    margin-top: 60px;
}

.table {
    border-bottom: #999999 solid 1px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.table th, .table td {
    border-right: #999999 solid 1px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    width: 10px;
}

.table td:last-child {
    border-right: 0;
}

.table thead th {
    font-weight: normal;
    background-color: #333;
    color: #fff;
    font-size: 15px;
}

.table tbody>tr:nth-child(odd)>td, .table tbody>tr:nth-child(odd)>th {
    background-color: #f8f8f8;
}

.tabela-full {
    background-color: none;
    width: 380px;
    /* height: 433px; */
    /* border-radius: 5px; */
    /* overflow: hidden; */
    position: relative;
    /* margin: 500px auto 0px; */
    box-shadow: 0px 0px 15px black;
    margin: -20px -26px;
    /* display: flex; */
}

@media (max-width: 767px) {
    .table-responsive {
        display: block;
        position: relative;
        width: 100%;
    }
    .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr {
        display: block;
    }
    .table-responsive td, .table-responsive th {
        height: 35px;
    }
    .table-responsive thead {
        float: left;
    }
    .table-responsive tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }
    .table-responsive tbody tr {
        display: inline-block;
    }
    /* .table td:last-child {
        border-right: #999999 solid 1px;
    } */
}

/* FIM DA TABELA */

.box {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    text-align: center;
    border-radius: 20px;
    /* display: flex; */
}

.box h1 {
    color: white;
    font-weight: 500;
}

.box textarea[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: left;
    border: 2px solid #3498db;
    padding: 5px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 15px;
    transition: 0.25s;
    margin-top: 70px;
}

.box textarea[type="text"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="number"] {
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #3498db;
    padding: 0px 10px;
    margin: 70px -155px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    width: 60px;
    position: absolute;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.box input[type="number"]:focus {
    width: 98px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    /* margin-top: 90px; */
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 25px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

#btn-radio:hover {
    cursor: pointer;
}

#radio-controle {
    /* padding-left: 20px; */
    color: white;
    justify-items: left;
}

div label {
    position: absolute;
    margin-left: -130px;
}

/* .select {
    cursor: pointer;
    position: absolute;
    margin: -130px -170px;
} */

/* BOTÃO DA TABELA */

.btn-select-table input[type="submit"] {
    border: 0;
    background: #2ecc7056;
    display: block;
    margin: 20px auto;
    /* margin-top: 90px; */
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.btn-select-table input[type="submit"]:hover {
    background: #2ecc71;
}

.btn-delete-table input[type="submit"] {
    border: 0;
    background: rgba(255, 0, 0, 0.3);
    display: block;
    margin: 20px auto;
    /* margin-top: 90px; */
    text-align: center;
    border: 2px solid red;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.btn-delete-table input[type="submit"]:hover {
    background: red;
}

/* FIM DO BOTÃO DA TABELA */