/* MENU */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* float: right; */
    position: relative;
    overflow: hidden;
    transition: 0.7s all;
}

li a::before {
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 3px solid #fff;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
}

li a:hover {
    background-color: #2ecc7067;
}

li a:hover::before {
    right: 0;
}

.active {
    background-color: #2ecc71;
}

i {
    margin: 15px 0px;
    color: white;
}

/* FIM DO MENU */

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    text-align: center;
    border-radius: 20px;
}

.box h1 {
    color: white;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 25px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

#btn-radio:hover {
    cursor: pointer;
    padding: 10px;
}

#radio-relatorio {
    margin-left: 47px;
    color: white;
    text-align: justify;
}