body {
    background-color: #11a6d4;
}

table {
    max-width: 100%;
    background-color: #ebe9e9;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
    margin-top: 60px;
}

.table {
    border-bottom: #999999 solid 1px;
    width: 100%;
    margin-bottom: 20px;
}

.table th, .table td {
    border-right: #999999 solid 1px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

.table td:last-child {
    border-right: 0;
}

.table thead th {
    font-weight: normal;
    background-color: #333;
    color: #fff;
    font-size: 15px;
    /* position: fixed; */
}

.table tbody>tr:nth-child(odd)>td, .table tbody>tr:nth-child(odd)>th {
    background-color: #f8f8f8;
        /* position: fixed; */
}

.tabela-full {
    background-color: #1992b7;
    /* width: 380px; */
    /* height: 433px; */
    /* border-radius: 5px; */
    /* overflow: hidden; */
    /* position: absolute; */
    margin: 20px auto 0px;
    box-shadow: 0px 0px 15px black;
}

@media (max-width: 767px) {
    .table-responsive {
        display: block;
        position: relative;
        width: 100%;
    }
    .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr {
        display: block;
    }
    .table-responsive td, .table-responsive th {
        height: 35px;
    }
    .table-responsive thead {
        float: left;
    }
    .table-responsive tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }
    .table-responsive tbody tr {
        display: inline-block;
    }
    .table td:last-child {
        border-right: #999999 solid 1px;
    }
}

/* MENU */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* float: right; */
    position: relative;
    overflow: hidden;
    transition: 0.7s all;
}

li a::before {
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 3px solid #fff;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
}

li a:hover {
    background-color: #2ecc7067;
}

li a:hover::before {
    right: 0;
}

.active {
    background-color: #2ecc71;
}

i {
    margin: 15px 0px;
    color: white;
}

/* FIM DO MENU */

input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin-top: 60px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2ecc71;
}