body {
    background-color: #11a6d4;
}

.input-div {
    margin: 20px;
    padding: 5px;
    background-color: #f2f5f7;
    border-radius: 5px;
}

.input-div input {
    width: 300px;
    height: 35px;
    padding-left: 5px;
    font: normal 13px sans-serif;
    color: #727070;
    border-radius: 5px;
    border: 1px solid #bec4c6;
    outline: none;
}

.input-div:hover {
    background-color: #e0f1fc;
}

.input-div:hover input {
    border-color: #7dc6dd;
}

#checkbox {
    font: normal 12px sans-serif;
}

#btn-checkbox:hover {
    cursor: pointer;
    background-color: black;
}

#nome {
    /* padding: 20px; */
}

#botao:hover {
    background-color: #7dc7dda8;
    cursor: pointer;
}

#input-box {
    background-color: #1992b7;
    width: 380px;
    height: 260px;
    margin: 190px auto 0px;
    border-radius: 5px;
}

#login-box-adm {
    background-color: #1992b7;
    width: 380px;
    height: 350px;
    margin: 190px auto 0px;
    border-radius: 5px;
}

#login-box-interno {
    width: 360px;
    height: 240px;
    background-color: #fdfdfd;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

#login-box-interno-adm {
    width: 360px;
    height: 330px;
    background-color: #fdfdfd;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

#login-box-label {
    background-color: rgba(243, 235, 235, 0.815);
    height: 45px;
    text-align: center;
    font: bold 14px/45px sans-serif;
    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 0px 3px #dedede;
    color: #555555;
    text-shadow: 1px 0px 1px white;
}
